html, body{
	width: 100%;
	height: 100%;
	margin: 0%;
    padding: 0%;
    background-image: url("https://pbs.twimg.com/media/C-t213UUAAA_Pdt.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

#title{
    text-align: center;
    background-image: linear-gradient(aqua, lightblue, snow);
    margin: auto;
    border: 2px solid black;
}

#base{
    margin: auto;
    height: 30%;
    width: 100%;
    text-align: center;
}

#Number{
    text-align: center;
    margin: auto;
    width: 15%;
    height: 20%;
    background-color: aqua;
    border: 2px solid black;
}

#button{
    position: relative;
    height: 100%;
    width: 20%;
    border: 2px solid black;
}

#sagiri{
    position: relative;
    height: 100%;
    width:100%;
    margin: auto;
}

#pop1{
    position: relative;
    height: 100%;
    width: 20%;
    left: 5%;
    transform: rotate(340deg);
}

.sagiri2{
    position: relative;
    height: 100%;
    width: 100%;
}

#flex{
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

#pop2{
    position: relative;
    height: 100%;
    width: 20%;
    transform: rotate(20deg);
    right: 5%;
}